.cog__dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: flex;
  position: absolute;
  right: -10px;
  top: -10px;
}

.screen-header__icons {
  position: relative;
}

.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 30px;
}

.find-icons__icon span {
  margin-top: 15px;
}

.recommand-friends {
  padding: 25px 0px;
  border-top: 1px solid var(--main-border);
  border-bottom: 1px solid var(--main-border);
  margin-bottom: 20px;
}

.recommand-friends__title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.recommand-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 500;
  margin-bottom: 6px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
}

.open-post__members-divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 60;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  right: 5px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
